@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*box size */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #212525;
}
/* button */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
/*  logo and nav bar */
.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/*button animation*/
button:hover {
    background-color: rgba(0,136,169,0.8);
}
body {
    background-color: rgb(37, 187, 246);
}
/* headin */
h1{
    color: #ecf0f1;
    font-family: sans-serif;
    font-size: 300%;
 }

 /* unused footer */
footer {
    background-color: #010101;
    padding: 10px;
    text-align: center;
    color: white;
  }