@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #508fa2;
}
/* start of button */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #050606;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
/* nav  bar and logo */
.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #cc700d;
}
/*  button animations */

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(174, 106, 23);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(47, 195, 232, 0.8);
}
/* colour style */
    h1{
        color: #050606;
        font-family: "Montserrat", sans-serif;
        font-size: 300%;
        
     }
    body {
	

    } 
    /* image style */
            .circle img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .circle img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
	


      